.a11yHidden { overflow: hidden; position: absolute; clip: rect(0 0 0 0); /* IE 6,7 */ clip: rect(0,0,0,0); width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; }

ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
h3, p{
    margin: 0;
    color:#000
}
a {color: #000; text-decoration: none; outline: none}

a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

body{
    padding: 20px 0;
}

.wrapper{
    margin-top: 10px;
    padding: 35px 5% 35px 5%;
    width: 80%;
    margin: auto;
    background-image: url("../images/signinImg.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;

    header{
        position: relative;
        width: 100%;
        height: 120px;
        text-align: center;
        >h1{
            font-size: 38px;
        }
        >h1 >p{
            font-size: 18px;
        }
        label{
            position: absolute;
            right: 0px;
            bottom: 3px;
            > select{
                border-radius: 15px;
                text-indent: 5px;
                width: 150px;
                height: 25px;
            }
            > span{
                font-size: 17px;
                margin-right: 10px;
            }
        }
    }

    .books{
        width: 100%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        border: 0 solid ;
        overflow: hidden;
        background-color: rgba(255,255,255,0.5);
        >li{
            margin: 20px 0
        }
        .bookBox{
            width: 50%;
            padding: 20px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0 solid ;
            .bookAni{
                width: 45%;
            }
            .divider{
                border: 1px solid rgba(0,0,0,0.3);
                height: 80%;
                width: 1px;
                margin: 0px 15px;
            }
            .bookInfo{
                width: 45%;
                >h3,>p{
                    font-weight: bold;
                }
                >p{
                    margin: 4px 0;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                }
                
                .btn{
                    font-size: 16px;
                }
            }
        }
    }
}

.book:nth-child(1) {
	position: relative;
	width: 20%; 
	height: 110%;
	perspective: 1000px;
    transform-style: preserve-3d;
    left: 0px;
    opacity: 1;
    transition: all 1s;
    animation: loadBook 1s ease-in-out both;
}
@keyframes loadBook {
    0%{ 
        top:15px;
    }
    100%{ 
        top:0px;
    }
}
.hardcover_front li:last-child {
	background: #fffbec;
}
.bookTitle{
    padding: 15px 0 0 8px;
    text-align: center;
    word-break: keep-all;
}
.bookMessage{
    display: inline-block;
    padding: 10px;
    white-space: normal;
    line-height: 1.4;
    height: 7.4em;
}
.page > li {
	background-color: #fffbf6;
	border-radius: 0px 5px 5px 0px;
}

.hardcover_front {
	transform: rotateY(-34deg) translateZ(8px);
}

.page li:nth-child(2) {
	transform: rotateY(-30deg);
}

.page li:nth-child(3) {
	transform: rotateY(-32deg);
}

.page li:nth-child(4) {
	transform: rotateY(-34deg);
}

.page li:nth-child(5) {
	transform: rotateY(-36deg);
}
.hardcover_front,
.hardcover_front li{
	position: absolute;
	top: 0;
	left: 3px;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

.hardcover_front,
.hardcover_back {
	transform-origin: center left;
}

.hardcover_front {
	transition: all 0.8s ease, z-index 0.6s;
}

.hardcover_front li:first-child {
    transform: translateZ(2px);
    // background-image: url("../images/2808.jpg");
    background-size: contain;
}

.page,
.page > li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 98%;
}


.page > li {
	transform-origin: left center;
	transition-timing-function: ease;
}

.page > li:nth-child(1) {
    transition-duration: 0.6s;
    transform: translateZ(15px);
    top:2px;
    left:8px;
    width:95%
}

.page > li:nth-child(2) {
    transition-duration: 0.6s;
    top: 5px;
}

.page > li:nth-child(3) {
    transition-duration: 0.4s;
    top: 5px;
}

.page > li:nth-child(4) {
    transition-duration: 0.5s;
    top: 5px;
}

.page > li:nth-child(5) {
    transition-duration: 0.6s;
    top: 5px;
}
.book:hover{
    left: 15px;
}
.book:hover > .hardcover_front {
	transform: rotateY(-145deg) translateZ(0);
	z-index: 0;
}

.book:hover > .page li:nth-child(1) {
    height: 100%;
    transform: rotateY(-25deg);
    transition-duration: 1.5s;
    left: 0;
}

.book:hover > .page li:nth-child(2) {
	transform: rotateY(-105deg);
	transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
	transform: rotateY(-118deg);
	transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
	transform: rotateY(-130deg);
	transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
	transform: rotateY(-140deg);
	transition-duration: 1.2s;
}