$media : 550px;
.signinWrapper{
  position: relative;
  .shadow{
    position: absolute;
    top:0;
    left:0;
    opacity: 20%;
    width: 100%;
    height: 100%;
    background-color: skyblue;
    border-radius: 50px;

  }
  .signinImg {
    height: 700px;
    background-image: url("../images/signinImg.jpg");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50px;
  }
  .signinForm {
    position: absolute;
    top:20px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    width: 100%;
    height: 70%;
    
    .signinTitle{
      font-size: 30px;
      margin-bottom: 40px;
    }
    .signinTitle>p{
      font-size:20px;
    }
    .inputBox{
      position: relative;
      input{
        border:none;
        border-bottom: 1px solid #ccc;
        background-color: rgba(255,255,255,0.5);
        width: 250px;
        height: 30px;
        transition: all 0.5s;
      }
      
      input:focus{
        outline: none;
        border-bottom: 1px solid green;
      }

      .checkEmail, .checkPassword{
        color:rgba(0,0,0,0.3);
        position: absolute;
        top:16%;
        right: -15px;
      }
    }
  
    .signinBtn{
      margin-top:20px;
      cursor: pointer;
      border: none;
      transition: all 0.3s;
    }
    .signinBtn:hover {
      // color: rgb(53, 231, 82);
      background-color: #ddd;
    }
  }
}
// @media (max-width: 500px) {
//   .signinTitle{
//     font-size: 15px;
//     margin-bottom: 20px;
//   }
//   .signinTitle>p{
//     font-size:10px;
//   }
// }